h1, h2, h3, h4, h5, h6 {
  font-family: "Special Elite", "New Tegomin", monospace;
  font-weight: normal;
}

a, a:link, a:visited {
  color: #c00 !important;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active { color: #a00 !important; }

button {
  display: inline-block;
  background-color: #c00;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  padding: 0.25em 1em;
  border: none;
  border-radius: 999em;
  cursor: pointer;
}
button:hover { background-color: #a00; }

.yoshidaIntro {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: "Special Elite", monospace;
  z-index: 177013;
  position: absolute;
  * { margin: 0; }
  div {
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5em;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .yoshidaNum { opacity: 0; }
}

.underscoreBlinker {
  -webkit-animation: cmdBlink 0.625s steps(2, start) infinite;
  -moz-animation: cmdBlink 0.625s steps(2, start) infinite;
  -o-animation: cmdBlink 0.625s steps(2, start) infinite;
  animation: cmdBlink 0.625s steps(2, start) infinite;
}
@keyframes cmdBlink {
  to { visibility: hidden; }
}

header {
  width: 100%;
  padding: 0.5em 1em;
  background-color: #c00;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0 4px 8px #00000060;
  * { margin: 0; }
  .headerGrid {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1em;
    .headerLogo { width: 7.5em; }
    .navBtn {
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      .bi { cursor: pointer; }
      .bi:hover { color: #c0c0c0; }
    }
  }
}

footer {
  width: 100%;
  padding: 1.5em 1em;
  background-color: white;
  color: black;
  text-align: right;
  font-size: 0.625em;
  * { margin: 0; }
}

.yoshidaCTA {
  width: 100%;
  background-color: black;
  background-image: url("/assets/images/yoshidaE_dark.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  * { margin: 0; }
  div {
    width: 100%;
    padding: 15em 1em;
    background-color: #000000b0;
    -webkit-backdrop-filter: blur(0.5em);
    backdrop-filter: blur(0.5em);
  }
  img {
    display: inline-block;
    width: 27.5em;
  }
}

.yoshidaConcept {
  width: 100%;
  background-color: black;
  color: white;
  * { margin: 0; }
  .innerTxt {
    width: 40em;
    max-width: 100%;
    /* height: 50em;
    background-color: #c00; */
    margin: 0 auto;
    padding: 5em 1em;
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: minmax(0, 4fr) minmax(0, 6fr);
    gap: 2.5em;
  }
  @media screen and (max-width: 768px) {
    .innerTxt {
      grid-template-columns: 100%;
      img {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center top;
        object-position: center top;
        width: 20em;
        aspect-ratio: 1 / 1.25;
        margin: 0 auto;
      }
    }
    .innerTxtTxt {
      width: 25em;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

.yoshidaInterstitial {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
  * { margin: 0; }
  div[onclick="{ event.stopPropagation(); }"] {
    width: 37.5em;
    max-width: 100%;
    padding: 2.5em 1em;
    background-color: #c00;
    border-radius: 0.625em;
    .dlBtns {
      * {
        background-color: white;
        color: black;
        margin: 0 0.25em;
      }
      *:hover { background-color: #c0c0c0; }
    }
  }
}

.yoshidaQuote {
  padding: 5em 1em;
  color: white;
  background-color: #c00;
  text-align: center;
  * { margin: 0; }
  h1 { font-weight: bold; }
  h3 { margin-top: 0.5em; }
  button {
    background-color: black;
    color: white;
  }
  button:hover { background-color: #222; }
}

.yoshidaStoryNew {
  width: 100%;
  background-image: url("/assets/images/001_\(139\).png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: black;
  * { margin: 0; }
  .yoshidaStoryBG {
    width: 100%;
    background-color: #e27faf80;
    -webkit-backdrop-filter: blur(0.5em);
    backdrop-filter: blur(0.5em);
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 5;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center center;
      object-position: center center;
    }
    @media screen and (max-width: 768px) {
      img { aspect-ratio: 16 / 11; }
    }
    .yoshidaStoryTxt {
      width: 25em;
      max-width: 100%;
      margin: 0 auto;
      padding: 3.75em 1em;
      text-align: center;
    }
  }
}

span[class^="animeRef"] {
  cursor: help;
  text-decoration: underline dotted;
}